/* .border{
    border: 2px solid red;
    margin: 3px;
 } */
 .flex{
    display: flex;
 }
 .justify-center{
    justify-content: center;
 }
 .item-center{
    align-items: center;
 }
 .justify-content{
   float: right;
 }
 .rounded{
   border-radius: 7px;
 }
 .m1{
   margin: 5px;
 }
 .p1{
   padding: 10px;
 }
 ::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-track {
   background-color: #333; /* Dark background color */
}

::-webkit-scrollbar-thumb {
   background-color: #666; /* Darker color */
   border-radius: 6px;
   border: 3px solid #333; /* Match scrollbar track background color */
}

::-webkit-scrollbar-thumb:hover {
   background-color: #999; /* Lighter color on hover */
}
.pArtist{
   border-radius:50%;
   
}
